html {
  background-color: #96E8BC;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
  text-align: center;
}

header div {
  display: inline-block;
  width: 30%;
  text-align: center;
  vertical-align: middle;
  font-size: 1.2rem;
  height: 80px;
  color: white;
  background-color: #4B7F52;
  border-radius: 1rem;
  margin: 0.5%;
  padding-top: 0.1rem;
  padding-bottom: 1.5rem;
  cursor: pointer;
}

header div p {
  padding-top: 1.2rem;
}

header div.doublePDiv p {
  padding-top: 0.1rem;
}

header div:hover {
  background-color: #45754c;
}

header div:active {
  background-color: #3d6844;
}

body div.mainBox {
  padding-left: 4%;
  padding-top: 1rem;
  display: flex;
}

svg {
  cursor: pointer;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4B7F52 #DFE9EB;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
  background-color: #E1EBEE;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #4B7F52;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #426F48;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #6FBD7A;
}